
#my{
    background-color: black;
    color: white;
}
#cloud{
    background-color: black;
    color: cyan;
}
#complete{
    background-color: purple;
    font-style: italic;
    color: white;
    text-align: center;
}
#contact{
    background-color: lightblue;
    text-decoration: underline;
    text-align: right;
}
